<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TibiaBestHealer2k20.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TibiaBestHealer2k20.Properties.Settings>
            <setting name="TibiaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="HealthMinX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HealthMaxX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HealthY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManaMinX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManaMaxX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManaY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HealPercent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManaPercent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HealKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ManaKey" serializeAs="String">
                <value />
            </setting>
        </TibiaBestHealer2k20.Properties.Settings>
    </userSettings>
</configuration>